# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [1]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 7.2

print(numberFloat)

numberFloat = 9.3

print(numberFloat)

2.3
7.2
9.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2

print(result)

7.4
9.4

##### Subtraction

In [8]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2

print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [5]:
result_div = num2/num1

print(result_div)

result_div /= 3
print(result_div)

num_ = 27
num__ = 14

divide = num_ / num__
print(divide)

divide /= 2
print(divide)

2.7
0.9
1.9285714285714286
0.9642857142857143

##### Floor Division

In [14]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [17]:
result_mod = 13 % 2
print(result_mod)

# modulo prints the remainder of a division

# short-hand version

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [19]:
square = 5 ** 2
print(square)


#short-hand version 

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [8]:
name = 'mary'
print(name)

age = "28"
print(age)

sentence = "this is a string"
print(sentence)

mary
28
this is a string

##### print() <br>
<p>Don't forget about end=' '</p>

In [10]:
print("This is my first name!:", name)

print("Full Name:", name, end=" hubert")

This is my first name!: mary
Full Name: mary hubert

##### String Concatenation

In [34]:
first_name = "Mary"

last_name = "Hubert"

full_name = first_name + " " + last_name

print(full_name)

full_name += ", Jr"
print(full_name)

Mary Hubert
Mary Hubert, Jr

##### Type Conversion

In [7]:
number = "32"

change_type_num = int(number)

print(number)  
print(change_type_num + 1)

32
33

##### input()

In [41]:
# input ALWAYS returns a string

# name + input("What is your name?")
# print(input)

age = int(input("what is your age?: "))
add_age = age + 5
print(add_age)

what is your age?: 28
33

##### format()

In [11]:
age = input("What is your age? ")
name = "Mary"

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 12
You are 12 Mary and you are getting wiser!
12 is a great time in life!

##### Old Way (python 2)

In [46]:
result_string_2 = "You are %s and you look great for your age!" %age
print(result_string_2)

You are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [51]:
year = input("What year is your car?: ")
color = input("What color is your car?: ")
make = input("Who makes your car?: ")
model = input("Which model do you have?: ")

result = "My car is a {} {} {}. It is {}.".format(year, make, model, color)
print(result)

What year is your car?: 2007
What color is your car?: black
Who makes your car?: Toyota
Which model do you have?: RAV4
My car is a 2007 Toyota RAV4. It is black.

### If Statements

In [60]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 = 5
num_2 = 10
num_3 = 2

if num_1 == num_2:
    print("These are equal values.")
else:
    print("These are not equal values.")
    
if num_2 > num_1:
    print("num_2 is greater.")
elif num_1 > num_2:
    print("num_1 is greater.")
else:
    print("equal values.")
    
if num_2 < num_1 or num_3 > 0:
    print("la la la")

These are not equal values.
num_2 is greater.
la la la

##### 'is' keyword

In [62]:
# The 'is' keyword is for checking for the same object, but not the same value

num3 = "55"

if num3 is 55:
    print("This is the same")

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\mhube\AppData\Local\Temp\ipykernel_18280\3061976566.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [11]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "F" in char_name:
    print("The ring bearer")
    
my_name = "Mary Hubert"
if "r" in my_name:
    print(my_name)

The ring bearer
Mary Hubert

##### 'not in' keyword'

In [65]:
sega_char = "Sonic"

if "a" not in sega_char:
    print(""'a')

'a' is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [68]:
phrase = input("Say something: ")

if 'p' in phrase:
    print("There is a 'p' in the input.")

Say something: penguin
There is a 'p' in the input.

## Using 'and'/'or' with If Statements

In [71]:
num11 = 15
num12 = 3
num13 = 10
num14 = 3

# if statement with "and"

if num11 // 5 == num12 and num13 - 7 == num14:
    print("True and True")

# if statement with "or"

if num11 > num12 or num13 == num14:
    print("True and False")

True and True
True and False

### Elif Statements

In [73]:
first_name = input("What is your name? ")

if first_name == "Smith":
    print("The name is Smith")
    
elif first_name == "Mary":
    print("The name is Mary")
    
elif first_name != "Max":
    print("The name is NOT Max")
    
else:
    print("The name is Max")

What is your name? Elizabeth
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [80]:
# Synax:
# for counter in condition

number = [5, 6, 7, 8]

for i in number:
    print(i + 1)

6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [83]:
for i in range(10):
    if i == 5:
        continue
    print(i)
    
# skips the number 5..."continues" to next iteration

name = "Mary Hubert"

for i in name:
    if i == 'r':
        continue
    print(i)

0
1
2
3
4
6
7
8
9
M
a
y

H
u
b
e
t

##### Break Statement

In [ ]:
# will break out of current loop

In [85]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [86]:
name = "Mary Hubert"

for i in name:
    pass

##### Double For Loops

In [88]:
for i in range(3):
    for j in range(5):
        print('i = ', i, 'j = ', j)

# this takes up a LOT of energy

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4

### While Loops

In [15]:
# Syntax:
# while keyword, condition statement
# will print foreverrrrrr

# num = 0

# while num < 10:
#     print(num)
#     num += 1
    
num1 = 1
while num1 < 5:
    print(num1*num1)
    num1 += 1

1
4
9
16

##### Looping 'While True'

In [94]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("Would you like to stop? ")
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? Yes

##### While & For Loops Used Together

In [96]:
num = 0

while num < 5:
    print("/n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num += 1

/n While loop iteration: 0
For loop iteration:  0
For loop iteration:  1
/n While loop iteration: 1
For loop iteration:  0
For loop iteration:  1
/n While loop iteration: 2
For loop iteration:  0
For loop iteration:  1
/n While loop iteration: 3
For loop iteration:  0
For loop iteration:  1
/n While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [100]:
# range(Start, stop, step)

# for i in range(10):
#     print(i)
    
# for j in range(2, 20):
#     print(j)

for k in range(3, 30, 3):
    print(k)

3
6
9
12
15
18
21
24
27

##### len()

In [101]:
name = input("Give me the name of your favrotie book: ")

length = len(name)
print(length)

Give me the name of your favrotie book: The Alice Network
17

##### help()

In [103]:
# Use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [108]:
# Check a variable to find out what object family (or date type) it belongs to

print(isinstance(4.5, int))

# 4.5 is a FLOAT

num = 4.5
if isinstance(num, int):
    print(f"{num} is an int!")
else:
    print(f"{num} is a float!")

False
4.5 is a float!

##### abs()

In [109]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [113]:
# Use this to log out graceful and useful error messages
# Does not stop the program!

try:
    input_num = int(input("Guess a number "))
    print("Your number is: " + str(input_num))

except:
    print("That didn't work! Change your input to a number!")

Guess a number applesauce
That didn't work! Change your input to a number!

### Lists

##### Declaring Lists

In [3]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [11]:
# list_name[start: stop: step]

# Single Index
print(names[1])

# Print starting at index 1 going to end
print(names[1:])

# Print starting at the beginning of a list up until a number
print(names[:2])

# Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and present in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [18]:
names.append('Mary')
print(names)

['Max', 'Cindy', 'Mary', 'Mary']

##### .insert()

In [19]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Mary', 'Devon', 'Mary']

##### .pop()

In [17]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assignm it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Nate
['Max', 'Cindy', 'Mary']


##### .remove()

In [21]:
# # Value to be removed rather than index
# names.remove('Bob')
# print(names)

# remove multiple marys from list
while 'Mary' in names:
    names.remove('Mary')
print(names)

['Max', 'Cindy', 'Devon']

##### del()

In [22]:
# Goes by index, rather than value
# Be careful with del(), it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon']

##### Concatenating Two Lists

In [29]:
# Will append 2 lists together. it will NOT add the values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [28]:
# Lists can hold ANY type of element (or data type), including other lists!
# They can go as deep as you wantl this is called NESTED LISTS

names = ['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][1])

['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [34]:
# 2 ways to loop through a list. 1 is by index; 2 is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'
for i in names:
    print(i)
    
    
# same thing as:
for name in names:
    print(name)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [8]:
# range(Start, stop, step)

# for i in range(11):
#     if i == 11:
#         break
#     print(i*i*i)

i = 0
result = 0

while result <= 1000:
    result = i*i*i
    if result <= 1000:
        print(result)
        i += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [17]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

prime =[]

for i in range(1,100):
    if i == 2 or i == 3 or i == 5 or i ==7:
        prime.append(i)
    elif i % 3 == 0:
        continue
    elif i % 7 == 0:
        continue
    elif i % 5 == 0:
        continue
    elif i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
            else:
                if i not in prime:
                    prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [16]:
age = int(input("How old are you?: "))

if age > 18 and age < 65:
    print("Adult")
elif age > 65:
    print("Senior")
else: 
    print("Kid")

How old are you?: 46
Adult